body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    line-height: 27px;
    color: #2d2d2d;
  }
  h1,h2,h3,h4,h5,h6,p {
    margin: 0px;
  }
  h3 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  img {
    max-width: 100%;
  }
  .container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 15px;
  }
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  a {
    text-decoration: none;
    color: #2d2d2d;
  }
  .hamb-menu {
    display: none;
  }
  .hamb-menu span{
    width: 35px;
    height: 5px;
    background-color: #2d2d2d;
    border-radius: 8px;
    display: block;
    margin-bottom: 9px;
  }
  .hamb-menu span:nth-child(2) {
    width: 25px;
  }
  .hamb-menu span:nth-child(3) {
    margin-bottom: 0px;
  }
  .inner-section {
    padding: 50px 15px 200px;
    background: #fafafa;
    margin-top: 25px;
  }
  .por-wrapp {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .por-wrapp .por-wrapp-col{
    max-width: 27.3%;
    flex: 0 0 27.3%;
    width: 100%;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding: 50px 20px;
    margin: 0px 15px 30px;
    text-align: center;
    border-radius: 12px;
  }
  .pro-nav {
    display: flex;
    overflow: auto;
    margin-top: 50px;
  }
  .pro-nav-link {
    background-color: #fff;
    font-size: 18px;
    padding: 15px 45px;
    text-align: center;
    display: block;
    -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.1);
    transition: all .2s;
  }
  .pro-nav-link:hover {
    background-color: #0082FA;
    color: #fff;
  }
  .id-h3 {
    font-size: 35px;
    padding-top: 50px;
    border-bottom: 1px solid #fff;
  }
  .por-wrapp .por-wrapp-col.por-wrapp-col100 {
    max-width: 100%;
    flex: 100%;
  }