body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    line-height: 27px;
    color: #2d2d2d;
  }
  h1,h2,h3,h4,h5,h6,p {
    margin: 0px;
  }
  img {
    max-width: 100%;
  }
  .container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 15px;
  }
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  p {
    font-size: 20px;
    line-height: 30px;
  }
  a {
    text-decoration: none;
    color: #2d2d2d;
  }